.user-info-card {
  display: flex;
  flex-direction: column;
}
.user-info-card button {
  background-color: white;
  border-bottom: 2px groove #f58008;
  margin: 8px;
  width: 114px;
}
.greeting{
  margin-left: 21px;
}
.avatar{
  margin-left: 15px;
}
.icon{
  max-width: 100px;
}
