.news-stripe {
  width: 650px;
  display: flex;
  flex-direction: column;

}
.news-stripe__title {
  width: auto;
}
.pagination {
  display: flex;
  align-items: center;
}
.current-page {
  margin: 8px;
}
.unactive {
  background-color: #c9d381;
}
.active {
  background-color: #f5ff09;
}
.prevPage, .nextPage {
  padding: 5px;
  border: none;
  border-radius: 4px;
}
