#root {
  display: flex;
  background-image: url("../fon.jpg");
  background-repeat: round;
  width: 100%;
  height: 100%;
}
.main-stripe {
  margin-left: 25px;
  display: flex;
  justify-content: center;
  min-height: 10px;
}
.right-stripe {
  width: 250px;
}
.userDate{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.userDateImg{
  width: 99px;
  border-radius: 55px;
  border: 0px solid green;
  box-shadow: 0 0 1px #666;
  height: 138px;
}

body{
  margin: 0px;
}
