.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  margin: 30px 0px;
  border-bottom: 32px;
}
.post__title {
  width: auto;
  padding: 16px 16px 0 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid whitesmoke;
}
.post__body{
  width: auto;
  padding: 16px 16px 0 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid whitesmoke;
}
.post__footer{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.post__tags {
  display: flex;
  align-items: center;
}
.tags {
  margin: 8px;
}
.post_image img {
  max-width: 300px;
  max-height: 200px;
}
