.login-user-form{
  display: grid;
  justify-content: center;
  border: 4px solid #989899;
  padding: 20px;
  background: #56c5ff;
}

.login-user-form button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin: 10px;
  padding: 9px;
}

.login-user-form button.active {
  background-color: #eedc32;
}
.checkState{
  display: block;
}
