.create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-create-form {
  align-self: flex-end;
}
.create-form-line {
  margin: 8px 0;
}
.create-post-form textarea {
   width: 600px;
   height: 300px;
}